---
- name: Set configuration files
  hosts: rpm,apt

  tasks:

    - name: .bash_profile lines
      block:
        - name: Add lines to an existing .bash_profile file
          blockinfile:
            path: /home/gianluca/.bash_profile
            block: "{{ lookup('file', 'block_bash_profile') }}"
            state: present
            backup: yes
      rescue:
        - name: If .bash_profile does not exists, I create one
          copy:
            src: block_bash_profile
            dest: /home/gianluca/.bash_profile
      always:
        - name: Say something!
          debug:
            msg: "Profile created"

    - name: .vimrc file
      copy:
        src: block_vimrc
        dest: /home/gianluca/.vimrc
        backup: yes
... 
